body{
    margin: 40px;
    background-color: #000;
    color: #fff;
}
.detail_back a, .detail_next a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
}

.brand_name a {
    font-family: "Bebas Neue", sans-serif;
}

.detail_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 1em;
    font-family: "Bebas Neue", sans-serif;
}

.typeface_name {
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.04em;
}

.detail_img_grid {
    width: 100%;
    overflow: hidden;
    position: relative;
}



.img-carousel {
    display: flex;
    align-items: center;
    width: 100%;
}

.img-container {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
}

.img-container img {
    width: calc(50% - 10px);
    height: 449px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}

.detail_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    gap: 10px; /* Add gap between left and right sections */
}

.detail_content h2{
    font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 45px;
text-align: center;
letter-spacing: 0.04em; 
margin: 0;
margin-bottom: 10px;
}

.detail_left, .detail_right {
    width: 48% !important;
    display: flex !important;
    flex-direction: column !important;
}

.detail_right {
    height: 100%;
    justify-content: space-between;
}

@media screen and (min-width: 1700px) {
    .detail_right {
        gap: 61px; /* Add vertical gap between items in detail_right for big screens */
    }
}


.detail_left {
    width: 48%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.detail_character {
    flex-grow: 1; /* Allow it to grow and fill available space */
    display: flex;
    flex-direction: column;
    color: #000;
}
.metric_diagram {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.glyphs_content .symbols{
    margin-bottom: 0px;
}
#metricSvg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imported-font {
    font-family: var(--imported-font), sans-serif !important
}

.character-input-container {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 15px;
    margin-top: 24px;
}

.metric_diagram_container {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: auto;
}

.search-label {
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
    text-transform: uppercase;
}

.input-wrapper {
    flex-grow: 1;
    background-color: #fff;
    padding: 16px 10px;
    border-radius: 15px;
}

#characterInput {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    font-family: var(--imported-font), sans-serif;
    color: #000;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.character_input label {
    color: white;
    font-size: 18px;
    margin-right: 10px;
    text-transform: uppercase;
}

.glyphs_content {
    background-color: black;
    color: white;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Add gap between alphabet, numbers, and symbols */
}


.alphabet {
    margin-bottom: 20px;
}

.numbers {
    margin-bottom: 20px;
    font-size: 36px;
}

.symbols {
    font-size: 36px;
}

.glyphs_content .alphabet,
.glyphs_content .numbers,
.glyphs_content .symbols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    font-size: 30px;
    
}

.glyphs_content .alphabet span,
.glyphs_content .numbers span,
.glyphs_content .symbols span {
    display: inline-block;
    margin: 0 5px;
}

.glyphs_content .alphabet span:hover,
.glyphs_content .numbers span:hover,
.glyphs_content .symbols span:hover {
    color: #ccc;
    cursor: pointer;
}
.preview_section {
    margin-top: 0; /* Remove top margin */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Add gap between preview text and controls */
}

#previewText {
    font-size: 30px;
    line-height: 45px;
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    justify-items: center;
}

.preview_controls {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    gap: 20px;
}

.alphabet, .numbers, .symbols {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.preview_controls button {
    flex: 1; /* This makes the buttons grow to fill available space */
    padding: 15px 10px; /* Increased vertical padding for larger buttons */
    font-size: 20px; /* Slightly increased font size */
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    font-family: 'Literata', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflowing text */
    text-overflow: ellipsis; /* Adds ellipsis for overflowing text */
    min-width: 0; /* Allows buttons to shrink below their content size */
    border: none;
    
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border: none;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.carousel-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
}

.next-arrow {
    right: 20px;
}

.next-arrow::after {
    content: '›';
    font-size: 36px;
    line-height: 1;
}

.detail_end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
    font-size: 1em;
    font-family: "Bebas Neue", sans-serif;
}

.detail_end a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.04em ;
}

.home_btn a {
    color: white;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.typeface_story {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    overflow: hidden;
}

.typeface_story h3 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    color: white;
    margin: 0;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.04;
}

.typeface_story p {
    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: white;
    margin: 0;
    flex: 1;
    padding-left: 20px;
}

.detail_content {
    margin: 40px 0px;
}

.typeface_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Literata', serif;
    font-size: 24px;
    line-height: 25px;
}

.client_info, .published_info {
    display: flex;
    align-items: center;
}

.info_label {
    font-weight: 400;
    margin-right: 10px;
}

.info_value {
    font-weight: normal;
}





